.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sky {
    width: 600px;
    height: 400px;
    background-color: #51a3e1;
    margin-top: 40px;
    padding: 30px;
    
}

.sun{
    width: 150px;
    height: 150px;
    background-color: #e7c145;
    border-radius: 50%;
}



.btn {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: #d9d1d1;
    margin-top: 20px;
}