.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sky {
    width: 600px;
    height: 400px;
    background-color: #51a3e1;
    margin-top: 40px;
    padding: 30px;
}

.sun{
    width: 150px;
    height: 150px;
    background-color: #e7c145;
    border-radius: 50%;
}

.nightSky {
    width: 600px;
    height: 400px;
    background-color: #081d2c;
    margin-top: 40px;
    padding: 30px;
}

.moon {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 50%;
}